.carousel-wrap {
    position: relative;
    border: 0.0625vw solid #e1e1e1;
    border-radius: 0.25vw;
    height: 30vw;
    width: 25vw;
}
.cart-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slide-bar {
    max-width: fit-content;
    width: 100%;
    height: 100%;
    border: 0.0625vw solid #e1e1e1;
    background: white;
    margin: 0.6vw;
}
.carousel-slide {
    width: 100%;
    height: 100%;
}
.carousel-img {
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
}
.carousel-img-btn {
    width: auto;
    height: 100%;
}
.carousel-img-wrap {
    width: 25vw;
    height: 30vw;
}
.sliders-bar-btn {
    position: absolute;
    bottom: -48px;
    display: flex;
    width: 100%;
    height: 96px;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.zoomLens {
    position: absolute;
    width: 12vw;
    height: 12vw;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255,255,255,.85),
    0 0 7px 7px rgba(0,0,0,.25),
    inset 0 0 40px 2px rgba(0,0,0,.25);
    cursor: none;
    min-width: 160px;
    min-height: 160px;
    background-repeat: no-repeat;
    background-size: 250%;
}
.circle-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: #e3803f;
    font-weight: 600;
    font-size: 1.5vw;
}
.circle-counter.catalog-size {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: #e3803f;
    font-weight: 600;
    font-size: 0.9vw;
}
.circle-counter-point {
    border-radius: 50%;
    height: 0.7vw;
    width: 0.7vw;
    position: absolute;
    background: white;
}
.circle-arrow {
    position: absolute;
    width: 4.5vw;
    top: 44%;
    left: 25%;
}
.circle-arrow.catalog-size {
    position: absolute;
    width: 3.37vw;
    top: 45%;
    left: 23%;
}
.circle-counter-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    color: #e38345;
    font-weight: 800;
    font-size: 0.8vw;
    line-height: 0.7;
    text-align: center;
    font-stretch: condensed;
}
.cart-slider__circle {
    position: absolute;
    top: -0.625vw;
    right: 4vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 9.125vw;
    height: 9.125vw;
    z-index: 0;
}
.cart-slider__circle.catalog-size {
    position: absolute;
    top: -0.625vw;
    right: -1vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 6.125vw;
    height: 6.125vw;
    z-index: 0;
}
@media (max-width: 992px) {
    .carousel-wrap {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .carousel-img-wrap {
        width: 94vw;
        height: 100vw;
    }
    .zoomLens {
        background-size: 280%;
    }
    .cart-slider__circle {
        top: -12px;
        right: 50%;
        height: 24vw !important;
        width: 24vw !important;
        transform: translate(154%);
    }
    .step-box-indicator .cart-slider__circle {
        right: 0;
        transform: translate(0);
    }
}
