.partner-box {
    position: relative;
    width: 100%;
    padding-left: 0.9375vw;
    padding-right: 0.9375vw;
    margin: auto;
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
}
@media (max-width: 992px) {
    .partner-box {
        max-width: 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}
.partners-env-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.size-standard-block-btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.size-standard-block {
    display: flex;
    outline: none;
    height: 3.74vw;
}
.size-standard-text {
    margin: 1rem;
    font-size: 1rem;
}
.size-standard-input {
    padding: 0.5rem;
    width: 5rem;
    font-size: 1rem;
}
