@media (max-width: 992px) {
    header {
        padding: 2.666666666666667vw 0;
        min-height: 20vw;
        background: #50b1be;
    }

    .container {
        max-width: 100%;
        padding-left: 2.666666666666667vw;
        padding-right: 2.666666666666667vw;
    }

    .row {
        margin-right: -2.666666666666667vw;
        margin-left: -2.666666666666667vw;
    }

    .container-fluid {
        padding-left: 2.666666666666667vw;
        padding-right: 2.666666666666667vw;
    }

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        padding-left: 2.666666666666667vw;
        padding-right: 2.666666666666667vw;
    }

    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }
    .order-lg-last {
        -ms-flex-order: 13;
        -webkit-box-ordinal-group: 14;
        order: 13;
    }

    .order-lg-0 {
        -ms-flex-order: 0;
        -webkit-box-ordinal-group: 1;
        order: 0;
    }
    .order-lg-1 {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
    .order-lg-2 {
        -ms-flex-order: 2;
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .order-lg-3 {
        -ms-flex-order: 3;
        -webkit-box-ordinal-group: 4;
        order: 3;
    }
    .order-lg-4 {
        -ms-flex-order: 4;
        -webkit-box-ordinal-group: 5;
        order: 4;
    }
    .order-lg-5 {
        -ms-flex-order: 5;
        -webkit-box-ordinal-group: 6;
        order: 5;
    }
    .order-lg-6 {
        -ms-flex-order: 6;
        -webkit-box-ordinal-group: 7;
        order: 6;
    }
    .order-lg-7 {
        -ms-flex-order: 7;
        -webkit-box-ordinal-group: 8;
        order: 7;
    }
    .order-lg-8 {
        -ms-flex-order: 8;
        -webkit-box-ordinal-group: 9;
        order: 8;
    }
    .order-lg-9 {
        -ms-flex-order: 9;
        -webkit-box-ordinal-group: 10;
        order: 9;
    }
    .order-lg-10 {
        -ms-flex-order: 10;
        -webkit-box-ordinal-group: 11;
        order: 10;
    }
    .order-lg-11 {
        -ms-flex-order: 11;
        -webkit-box-ordinal-group: 12;
        order: 11;
    }
    .order-lg-12 {
        -ms-flex-order: 12;
        -webkit-box-ordinal-group: 13;
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.333333%;
    }
    .offset-lg-2 {
        margin-left: 16.666667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.333333%;
    }
    .offset-lg-5 {
        margin-left: 41.666667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.333333%;
    }
    .offset-lg-8 {
        margin-left: 66.666667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.333333%;
    }
    .offset-lg-11 {
        margin-left: 91.666667%;
    }

    .header-envelope {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 20vw;
    }
    .header__text {
        padding-top: 2.666666666666667vw;
        padding-left: 0;
    }
    .header-mobile {
        display: block;
    }
    .header-mobile__basket-icon {
        padding: 0 5.333333333333334vw;
    }

    .hide-column {
        display: none;
    }
    .header__navigation-list {
        display: none;
    }
    .mobile-toggle {
        display: none !important;
    }
    .header__plan-picture {
        width: 7.733333333333333vw;
        height: 7.733333333333333vw;
    }
    .header__plan-column {
        padding: 0 0 0 4vw;
    }


    .text-115 {
        font-size: 30.666666666666664vw;
    }
    .title-36 {
        font-size: 9.333333333333334vw;
    }
    .title-30 {
        font-size: 8vw;
    }
    .text-25 {
        font-size: 6.666666666666667vw;
    }
    .text-22 {
        font-size: 5.866666666666666vw;
    }
    .text-20 {
        font-size: 5.333333333333334vw;
    }
    .text-18 {
        font-size: 4.8vw;
    }
    .text-16 {
        font-size: 4.266666666666667vw;
    }
    .text-15 {
        font-size: 4vw;
    }
    .text-14 {
        font-size: 3.733333333333334vw;
    }
    .text-12 {
        font-size: 3.2vw;
    }
}

