html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
header {
    position: relative;
    background: #4fb0be;
    background: -webkit-gradient(linear, left top, left bottom, from(#4fb0be), to(#459eb9));
    background: -o-linear-gradient(top, #4fb0be 0%, #459eb9 100%);
    background: linear-gradient(to bottom, #4fb0be 0%, #459eb9 100%);
    min-height: 5vw;
    width: 100%;
}

.container {
    max-width: 71.25vw;
    padding-right: 0.9375vw;
    padding-left: 0.9375vw;
    width:100%;
    margin-right:auto;
    margin-left:auto;
}

.row{
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    margin-right:-15px;
    margin-left:-15px;
    -ms-flex-wrap:wrap;
}

.align-items-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-left: 0.9375vw;
    padding-right: 0.9375vw;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col, .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-auto, .col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    position:relative;
    padding-right:15px;
    padding-left:15px
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    max-width: 100%;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 5vw;
}
.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.logo__source {
    width: 100%;
    height: 100%;
}
.header__text {
    padding-left: 1.875vw;
    color: #fff;
    width: 100%;
}
.header-mobile {
    display: none;
}
.header-mobile__basket-icon .icon {
    width: 9.333333333333334vw;
    height: 9.333333333333334vw;
    fill: #fff;
}
.header-mobile__bars-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.header-mobile__bars-button .icon {
    width: 9.333333333333334vw;
    height: 9.333333333333334vw;
    fill: #fff;
}
.header-mobile__close-button {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.header-mobile__close-button .icon {
    width: 9.333333333333334vw;
    height: 9.333333333333334vw;
    fill: #fff;
}
.header__navigation-list {
    width: 100%;
}
.header__navigation-list .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 5vw;
}
.header__navigation-list .navigation-list__item {
    width: 33.33%;
}
.header__navigation-list .navigation-list__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 5vw;
    color: #fff;
}
.header__navigation-list .navigation-list__link:hover:before {
    opacity: 1;
}
.header__navigation-list .navigation-list__link:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1875vw;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header__user-list .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.875vw;
    background: #72bfcb;
    min-height: 5vw;
}
.header__user-list .user-list__icon .icon {
    width: 1.25vw;
    height: 1.25vw;
    fill: #fff;
}
.header__user-list .user-list__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1.25vw;
}
.header__user-list .user-list__link {
    text-align: center;
    color: #fff;
    text-decoration: underline;
}
.header__basket-icon {
    padding: 0 1.25vw;
}
.header__basket-icon .icon {
    width: 1.5625vw;
    height: 1.5625vw;
    fill: #fff;
}
.mobile-envelope {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 16vw;
    min-height: 142.66666666666669vw;
}
.mobile-nav__item {
    padding: 0 0 8vw 0;
    text-align: center;
}
.mobile-nav__link {
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mobile-nav__link:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    border-bottom: 0.266666666666667vw solid #fff;
}
.mobile-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5.333333333333334vw;
    background: #72bfcb;
    min-height: 1.333333333333333vw;
    width: 100%;
}
.mobile-user__icon {
    padding-right: 5.333333333333334vw;
}
.mobile-user__icon .icon {
    width: 5.333333333333334vw;
    height: 5.333333333333334vw;
    fill: #fff;
}
.mobile-user__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.mobile-user__link {
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.mobile-user__link:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.header__plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}
.header__plan-picture {
    width: 2.4375vw;
    height: 2.4375vw;
}
.header__plan-picture .plan-picture {
    width: 100%;
    height: 100%;
}
.header__plan-picture .plan-picture__source {
    width: 100%;
    height: 100%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
}
.header__plan-column {
    padding: 0 0 0 0.9375vw;
}
.header__plan-change {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header__plan-change:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-decoration: none;
}
.header__enter-cabinet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0.25vw;
    margin-left: 3.125vw;
    margin-right: 2.5vw;
    padding: 0.75vw 1.375vw;
    color: #fff;
    background: #71bdca;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header__enter-cabinet:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #71bdca;
    background: #fff;
}


.text-115 {
    font-size: 7.187499999999999vw;
}
.title-36 {
    font-size: 2.25vw;
}
.title-30 {
    font-size: 1.875vw;
}
.text-25 {
    font-size: 1.5625vw;
}
.text-22 {
    font-size: 1.375vw;
}
.text-20 {
    font-size: 1.25vw;
}
.text-18 {
    font-size: 1.125vw;
}
.text-16 {
    font-size: 1vw;
}
.text-15 {
    font-size: 0.9375vw;
}
.text-14 {
    font-size: 0.875vw;
}
.text-12 {
    font-size: 0.75vw;
}
.bold {
    font-weight: bold;
}
.medium {
    font-weight: 500;
}
.light {
    font-weight: 300;
}
.uppercase {
    text-transform: uppercase;
}
.color-aqua {
    color: #50abbd;
}
.italic {
    font-style: italic;
}